---
import Layout, { type SeoEN } from "../../../layouts/Layout.astro";

import Navbar, { type NavData } from "../../../components/navbar/Navbar";
import Footer from "../../../components/footer/Footer.astro";

import { getAboutMe, getNavbar } from "../../../utils/query";

import AboutMe, {
  type AboutMeType,
} from "../../../components/about-me/AboutMe.astro";
import { urlFor } from "../../../utils/utils";

interface AboutMeData extends AboutMeType {
  bioEN: string;
  seo: SeoEN;
}
const { pathname } = Astro.url;

const data: AboutMeData = await getAboutMe();
const navData: NavData = await getNavbar();

const seo = {
  title: data.seo?.titleEN,
  description: data.seo?.descriptionEN,
  keywords: data.seo?.keywordsEN,
  image: {
    url: urlFor(data.profileImage).size(2048, 2048).url(),
    alt: "logo",
    width: "2048",
    height: "2048",
  },
};
---

<Layout lang="en" seo={seo}>
  <Navbar
    lang="en"
    contactButtonText="Get in touch"
    pathname={pathname}
    navData={navData}
    client:load
    transition:persist="navbar"
  />

  <main class="m-8 flex flex-col justify-start items-center gap-16 flex-grow">
    <AboutMe data={data}>
      {data?.bioEN}
    </AboutMe>
  </main>
  <Footer lang="en" />
</Layout>
