---
import "@styles/global.scss";
import "@styles/navbar.scss";
import CookieBanner from "@components/cookie-banner/CookieBanner.tsx";
import CookieModal from "@components/cookie-banner/CookieModal.tsx";
import GoogleAnalytics from "@components/google-analytics/GoogleAnalytics.astro";
import type { Lang } from "@utils/utils";

interface Props {
  seo: Seo;
  lang: Lang;
  path?: string;
}

export type Seo = {
  title: string;
  description: string;
  keywords: string;
  image?: {
    url: string;
    alt: string;
    width: string;
    height: string;
  };
};

export type SeoEN = {
  titleEN: string;
  descriptionEN: string;
  keywordsEN: string;
  image?: {
    url: string;
    alt: string;
    width: string;
    height: string;
  };
};

const { seo, lang, path }: Props = Astro.props;
const { pathname } = Astro.url;


const cookieAnalytics = Astro.cookies.get("cookie-analytics");
const cookieAdvertisement = Astro.cookies.get("cookie-advertisement");

const analytics = cookieAnalytics?.value ? "granted" : "denied";
const advertisement = cookieAdvertisement?.value ? "granted" : "denied";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="image" href="https://cdn.sanity.io/images/4hqt1cp5/production/a4e6e0b1df4d743ac5f5d5aef13f4c3f02c2c0be-6389x1414.webp?rect=0,1,6389,1413&w=2560&h=566&fit=max&auto=format"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={`https://mp-galerie.com${pathname}`} />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="description" content={seo.description} />
    <meta name="keywords" content={seo.keywords} />
    <meta name="author" content="Oh Teezy" />

    <meta name="og:title" content={seo.title} />
    <meta name="og:description" content={seo.description} />
    <meta name="og:url" content={`https://mp-galerie.com${pathname}`} />
    <meta name="og:site_name" content="Oh Teezy" />
    <meta name="og:locale" content={lang} />
    <meta name="og:type" content="website" />

    {seo?.image?.url 
    ? 
      <meta property="og:image" content={seo?.image?.url}/>
      <meta property="og:image:width" content={seo?.image?.width} />
      <meta property="og:image:height" content={seo?.image?.height} />
      <meta property="og:image:alt" content={seo?.image?.alt} />
      : ""
      }

    <meta name="robots" content="index, follow, nocache" />
    <meta
      name="googlebot"
      content="index, follow, noimageindex, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <title>{seo.title}</title>
    <GoogleAnalytics analytics={analytics} advertisement={advertisement} />
  </head>
  <body data-path={path} class="flex flex-col h-[100svh]">
    <slot />
    <CookieBanner
      lang={lang}
      pathname={pathname}
      client:load
      transition:persist="cookie-banner"
    />
    <CookieModal lang={lang} client:idle transition:persist="cookie-modal" />
  </body>
</html>
