---
import "../styles/global.scss";
import "../styles/navbar.scss";
import CookieBanner from "../components/cookie-banner/CookieBanner.tsx";
import CookieModal from "../components/cookie-banner/CookieModal.tsx";
import GoogleAnalytics from "../components/google-analytics/GoogleAnalytics.astro";
import type { Lang } from "../utils/utils";

interface Props {
  seo: Seo;
  lang: Lang;
}

export type Seo = {
  title: string;
  description: string;
  keywords: string;
  image?: {
    url: string;
    alt: string;
    width: string;
    height: string;
  };
};

export type SeoEN = {
  titleEN: string;
  descriptionEN: string;
  keywordsEN: string;
  image?: {
    url: string;
    alt: string;
    width: string;
    height: string;
  };
};

const { seo, lang }: Props = Astro.props;
const { pathname } = Astro.url;

const csp = `
    default-src 'self';
    script-src 'self' https://www.googletagmanager.com 'sha256-YIxidjzRuvrWhjUXe8bQiR2e31kabZm1AL7UvV6BJ98=' 'sha256-pNrKo6RniQWzaIC5dPvma6lBM6kATjwQuHoNVRDqtPU=' 'sha256-qs8+yBBhnaTHA7rZbnN1oBDR+0/pRGQdlbEN7Uo2H7M=' 'sha256-ZCUJe4haeHqUJsUsNNNRfMNMEB8T3lpyvRb9oQXfXCo=' 'sha256-Vk9u4LOF9cRpsIqEgXvmmhUcOeCgyJXxMnbT1zgVgt0=' 'sha256-5np+5xSSfGLCWExVdc9NqolB2OP7y3hTIvMFcSs3c98=' 'sha256-Br45NrMzMNuCi+VX7eajgvznlbSFZhi3HGjzRxuT15w=' 'sha256-d9DjQnDFIidQCghtN5296fEGMoaAzqVuZ8Xe4a/lXxg=';
    base-uri 'self';
    child-src 'self';
    img-src 'self' data: https://cdn.sanity.io;
    style-src 'self' fonts.googleapis.com;
    style-src-elem 'self' fonts.googleapis.com 'unsafe-inline';
    style-src-attr 'self';
    font-src 'self' fonts.gstatic.com;
    frame-src 'self' https://cdn.sanity.io;
    connect-src 'self' https://o3q6f9psgc.execute-api.eu-central-1.amazonaws.com https://*.google-analytics.com https://www.googletagmanager.com;
`;

const cookieAnalytics = Astro.cookies.get("cookie-analytics");
const cookieAdvertisement = Astro.cookies.get("cookie-advertisement");

const analytics = cookieAnalytics?.value ? "granted" : "denied";
const advertisement = cookieAdvertisement?.value ? "granted" : "denied";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta
      http-equiv="Content-Security-Policy"
      content={`${csp.replace(/\s{2,}/g, " ").trim()}`}
    />

    <meta name="description" content={seo.description} />
    <meta name="keywords" content={seo.keywords} />
    <meta name="author" content="Oh Teezy" />

    <meta name="og:title" content={seo.title} />
    <meta name="og:description" content={seo.description} />
    <meta name="og:url" content={`https://mp-galerie.com${pathname}`} />
    <meta name="og:site_name" content="Oh Teezy" />
    <meta name="og:locale" content={lang} />
    <meta name="og:type" content="website" />

    {seo?.image?.url 
    ? 
      <meta property="og:image" content={seo?.image?.url}/>
      <meta property="og:image:width" content={seo?.image?.width} />
      <meta property="og:image:height" content={seo?.image?.height} />
      <meta property="og:image:alt" content={seo?.image?.alt} />
      : ""
      }

    <meta name="robots" content="index, follow, nocache" />
    <meta
      name="googlebot"
      content="index, follow, noimageindex, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <title>{seo.title}</title>
    <GoogleAnalytics analytics={analytics} advertisement={advertisement} />
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
    <CookieBanner
      lang={lang}
      pathname={pathname}
      client:load
      transition:persist="cookie-banner"
    />
    <CookieModal lang={lang} client:idle transition:persist="cookie-modal" />
  </body>
</html>
